Emacs.FontBackend: xft
Emacs.font: Terminus-8

Rxvt.title: terminal
Rxvt.termName: xterm
Rxvt.geometry: 80x43
Rxvt.scrollBar: False
URxvt.font: xft:Terminus-8:antialias=false
Rxvt.foreground: White
Rxvt.background: Black
Rxvt.color4: RoyalBlue3
Rxvt.color12: RoyalBlue1

URxvt.perl-ext: matcher
URxvt.urlLauncher: chromium-browser
